.card {
    width: 100%;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card img {
    width: 100%;
    height: 225px;
    object-fit: contain;
}

.card-body {
    padding: 15px;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card:hover {
    transform: scale(1.05);
}

.card p {
    margin-bottom: 10px;
}

.btn {
    margin-top: 10px;
}

.column {
    float: left;
    width: 50%;
}
.head3 h3 {
    text-align: center;
    padding: 20px;
    border-radius: 5px; /* Rounded corners for a softer look */
    margin-bottom: 50px; /* Add some space below the message */

}

.no-users-message {
    text-align: center;
    padding: 20px;
    border: 1px solid #0094ff; /* Border color for emphasis */
    border-radius: 5px; /* Rounded corners for a softer look */
    margin-bottom: 50px; /* Add some space below the message */
    margin-top:30%;
    margin-left:25%;
    margin-right:25%;
}

.no-users-message h6 {
    color: #721c24; /* Dark red text color for emphasis */
    margin-bottom: 10px; /* Add space below the message */
}
