body {
}

/* Custom styles to set a maximum width for the container */
#custom-container {
    max-width: 800px; /* Set your desired maximum width */
    margin: auto;
    margin-top: 20px; /* Add some top margin for spacing */
}

.card {
    margin-bottom: 20px; /* Add some bottom margin between cards */
}

