@using YemeniDriver.Data
@using YemeniDriver.ViewModel.Home
@model RegisterSelectRolesViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!-- Add your CSS links and styles here -->
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
            text-align: center;
        }

        .welcome {
            font-size: 2.5em;
            margin-bottom: 20px;
            color: #007bff;
        }

        .role-label {
            display: block;
            margin-bottom: 10px;
        }

        .account-register {
            background-color: #007bff;
            color: #fff;
            padding: 15px 30px;
            font-size: 1em;
            cursor: pointer;
            border: none;
            transition: background-color 0.3s;
            margin: 10px;
            text-decoration: none; /* Remove default link underline */
            display: inline-block;
            width: 45%; /* Equal width for both buttons */
            box-sizing: border-box; /* Include padding and border in the element's total width and height */
        }

        .account-register:hover {
            background-color: #0056b3;
            color: #fff;
        }

        a {
            text-decoration: none;
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="welcome">
            Welcome to the RideSharing App!
        </div>

        <label class="role-label">Are You:</label>

        <a class=" btn btn-primary w-100 py-2 mt-3" asp-controller="Account" asp-action="RegisterAsDriver">Driver</a>
        <a class=" btn btn-primary w-100 py-2 mt-3" asp-controller="Account" asp-action="RegisterAsPassenger">Passenger</a>

        <div class="account-section mt-3">
            <label for="existingAccount">Do you already have an account?</label>
            <a asp-controller="Account" asp-action="Login">Login</a>
        </div>
    </div>
</body>
</html>
