@using YemeniDriver.Data
@using YemeniDriver.ViewModel.Home
@model RegisterSelectRolesViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!-- Add your CSS links and styles here -->

    <link rel="stylesheet" href="~/css/Home/indexStyle.css" />

</head>
<body>
    <div class="container">
        <div class="welcome">
            Welcome to the RideSharing App!
        </div>

        <label class="role-label">Are You:</label>

        <a class=" btn btn-primary w-100 py-2 mt-3" asp-controller="User" asp-action="RegisterAsDriver">Driver</a>
        <a class=" btn btn-primary w-100 py-2 mt-3" asp-controller="User" asp-action="RegisterAsPassenger">Passenger</a>

        <div class="account-section mt-3">
            <label for="existingAccount">Do you already have an account?</label>
            <a asp-controller="Account" asp-action="Login">Login</a>
        </div>
    </div>
</body>
</html>
