@using YemeniDriver.Data
@using YemeniDriver.Data.Enums
@using YemeniDriver.ViewModel.Account
@model EditDriverDetailsViewModel
@{
    ViewData["Title"] = "Update Driver";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">


            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger">
                    <strong>Sorry!</strong> - @TempData["Error"]
                </div>
            }

            <form method="post" enctype="multipart/form-data" class="mt-5">
                <h1 class="h3 mb-3 fw-normal text-center">Update</h1>

                <div class="form-floating mb-3">
                    <input type="text" asp-for="FirstName" class="form-control" id="floatingFirstName" placeholder="First Name" required>
                    <label for="floatingFirstName">First Name</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" asp-for="LastName" class="form-control" id="floatingLastName" placeholder="Last Name" required>
                    <label for="floatingLastName">Last Name</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="email" asp-for="Email" class="form-control" id="floatingEmail" placeholder="name@example.com" required>
                    <label for="floatingEmail">Email address</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="PhoneNumber" asp-for="PhoneNumber" class="form-control" id="floatingPhoneNumber" placeholder="Phone Number" required>
                    <label for="floatingPhoneNumber">Phone Number</label>
                </div>

                <div class="form-group">
                    <label asp-for="Gender">Gender:</label>
                    <select asp-for="Gender" asp-items="@Html.GetEnumSelectList<Gender>()" class="dropdown-menu text-small border-0 shadow w-220px rounded-3 mx-0 w-220px" data-bs-theme="light">
                        <option  value="">----</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ProfileImage">Profile Image</label>
                    <input asp-for="ProfileImage" type="file" class="form-control">
                    <span asp-validation-for="ProfileImage" class="text-danger"></span>
                </div>

                <!-- ... (previous code) ... -->
                <br />
                <h5>Vehicle Information:</h5>

                <div class="form-floating mb-3">
                    <input type="text" asp-for="Vehicle.VehicleId" class="form-control" id="floatingVehicleId" placeholder="Vehicle Id" required>
                    <label for="floatingVehicleId">Vehicle Id</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" asp-for="Vehicle.Make" class="form-control" id="floatingMake" placeholder="Make" required>
                    <label for="floatingMake">Make</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" asp-for="Vehicle.Model" class="form-control" id="floatingModel" placeholder="Model" required>
                    <label for="floatingModel">Model</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" asp-for="Vehicle.Color" class="form-control" id="floatingColor" placeholder="Color" required>
                    <label for="floatingColor">Color</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="number" asp-for="Vehicle.Capacity" class="form-control" id="floatingCapacity" placeholder="Capacity" required>
                    <label for="floatingCapacity">Capacity</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" asp-for="Vehicle.PlateNumber" class="form-control" id="floatingPlateNumber" placeholder="Plate Number" required>
                    <label for="floatingPlateNumber">Plate Number</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="number" asp-for="Vehicle.Year" class="form-control" id="floatingYear" placeholder="Year" required>
                    <label for="floatingYear">Year</label>
                </div>

                <div class="form-group">
                    <label asp-for="VehicleImage">Vehicle Image</label>
                    <input asp-for="VehicleImage" type="file" class="form-control">
                    <span asp-validation-for="VehicleImage" class="text-danger"></span>
                </div>

                <div class="form-check text-start my-3">
                    <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Remember me
                    </label>
                </div>

                <button type="submit" class="btn btn-primary w-100 py-2 mt-3">Update</button>
            </form>


        </div>
    </div>
</div>
