@using Yemeni_Driver.Data
@using Yemeni_Driver.Data.Enums
@using Yemeni_Driver.ViewModel.Account
@model PassengerRegisterationViewModel
@{
    ViewData["Title"] = "Passenger Registration";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <h4 class="text-center">Register your account</h4>

            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger">
                    <strong>Sorry!</strong> - @TempData["Error"]
                </div>
            }

            <form method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="FirstName">First Name:</label>
                    <input type="text" asp-for="FirstName" class="form-control" required />
                </div>

                <div class="form-group">
                    <label for="LastName">Last Name:</label>
                    <input type="text" asp-for="LastName" class="form-control" required />
                </div>

                <div class="form-group">
                    <label for="Email">Email:</label>
                    <input type="email" asp-for="Email" class="form-control" required />
                </div>

                <div class="form-group">
                    <label for="Password">Password:</label>
                    <input type="password" asp-for="Password" class="form-control" required />
                </div>

                <div class="form-group">
                    <label for="ConfirmPassword">Confirm Password:</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" required />
                </div>

                <div class="form-group">
                    <label for="PhoneNumber">Phone Number:</label>
                    <input type="PhoneNumber" asp-for="PhoneNumber" class="form-control" required />
                </div>

                <div class="form-group">
                    <label asp-for="Gender">Gender:</label>
                    <select asp-for="Gender" asp-items="@Html.GetEnumSelectList<Gender>()" class="form-control">
                        <option value="">----</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ProfileImage">Profile Image</label>
                    <input asp-for="ProfileImage" type="file" class="form-control">
                    <span asp-validation-for="ProfileImage" class="text-danger"></span>
                </div>

                <!-- ... (previous code) ... -->
                <br />
                <button type="submit" class="btn btn-primary btn-block">Register</button>

            </form>
        </div>
    </div>
</div>
