@using YemeniDriver.Data
@using YemeniDriver.Data.Enums
@using YemeniDriver.ViewModel.User

@model EditPassengerDetailsViewModel
@{
    ViewData["Title"] = "Update Passenger Profile";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">


            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger">
                    <strong>Sorry!</strong> - @TempData["Error"]
                </div>
            }

            <form method="post" enctype="multipart/form-data" class="mt-5">
                <h1 class="h3 mb-3 fw-normal text-center">Update</h1>

                <div class="form-floating mb-3">
                    <input type="text" asp-for="FirstName" class="form-control" id="floatingFirstName" placeholder="First Name" required>
                    <label for="floatingFirstName">First Name</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" asp-for="LastName" class="form-control" id="floatingLastName" placeholder="Last Name" required>
                    <label for="floatingLastName">Last Name</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="email" asp-for="Email" class="form-control" id="floatingEmail" placeholder="name@example.com" required>
                    <label for="floatingEmail">Email address</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="PhoneNumber" asp-for="PhoneNumber" class="form-control" id="floatingPhoneNumber" placeholder="Phone Number" required>
                    <label for="floatingPhoneNumber">Phone Number</label>
                </div>

                <div class="form-group">
                    <label asp-for="Gender">Gender:</label>
                    <select asp-for="Gender" asp-items="@Html.GetEnumSelectList<Gender>()" class="dropdown-menu text-small border-0 shadow w-220px rounded-3 mx-0 w-220px" data-bs-theme="light">
                        <option value="">----</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ProfileImage">Profile Image</label>
                    <input asp-for="ProfileImage" type="file" class="form-control">
                    <span asp-validation-for="ProfileImage" class="text-danger"></span>
                </div>

             

                <button type="submit" class="btn btn-primary w-100 py-2 mt-3">Update</button>
            </form>


        </div>
    </div>
</div>
