@using YemeniDriver.Data
@using YemeniDriver.Data.Enums
@using YemeniDriver.ViewModel.Account
@model DriverRegisterationViewModel
@{
    ViewData["Title"] = "Driver Registration";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">


            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger">
                    <strong>Sorry!</strong> - @TempData["Error"]
                </div>
            }

            <form method="post" enctype="multipart/form-data" class="mt-5">
                <h1 class="h3 mb-3 fw-normal text-center">Register</h1>

                <div class="form-floating mb-3">
                    <input type="text" asp-for="FirstName" class="form-control" id="floatingFirstName" placeholder="First Name" required>
                    <label for="floatingFirstName">First Name</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" asp-for="LastName" class="form-control" id="floatingLastName" placeholder="Last Name" required>
                    <label for="floatingLastName">Last Name</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="email" asp-for="Email" class="form-control" id="floatingEmail" placeholder="name@example.com" required>
                    <label for="floatingEmail">Email address</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="password" asp-for="Password" class="form-control" id="floatingPassword" placeholder="Password" required>
                    <label for="floatingPassword">Password</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="password" asp-for="ConfirmPassword" class="form-control" id="floatingConfirmPassword" placeholder="Confirm Password" required>
                    <label for="floatingConfirmPassword">Confirm Password</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="PhoneNumber" asp-for="PhoneNumber" class="form-control" id="floatingPhoneNumber" placeholder="Phone Number" required>
                    <label for="floatingPhoneNumber">Phone Number</label>
                </div>

                <div class="form-group">
                    <label asp-for="Gender">Gender:</label>
                    <select asp-for="Gender" asp-items="@Html.GetEnumSelectList<Gender>()" class="form-control">
                        <option value="">----</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ProfileImage">Profile Image</label>
                    <input asp-for="ProfileImage" type="file" class="form-control">
                    <span asp-validation-for="ProfileImage" class="text-danger"></span>
                </div>

                <h5 class="mt-4">Vehicle Information:</h5>

                <div class="form-floating mb-3">
                    <input type="text" asp-for="VehicleId" class="form-control" id="floatingVehicleId" placeholder="Vehicle Id" required>
                    <label for="floatingVehicleId">Vehicle Id</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" asp-for="Make" class="form-control" id="floatingMake" placeholder="Make" required>
                    <label for="floatingMake">Make</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" asp-for="Model" class="form-control" id="floatingModel" placeholder="Model" required>
                    <label for="floatingModel">Model</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" asp-for="Color" class="form-control" id="floatingColor" placeholder="Color" required>
                    <label for="floatingColor">Color</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="number" asp-for="Capacity" class="form-control" id="floatingCapacity" placeholder="Capacity" required>
                    <label for="floatingCapacity">Capacity</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" asp-for="PlateNumber" class="form-control" id="floatingPlateNumber" placeholder="Plate Number" required>
                    <label for="floatingPlateNumber">Plate Number</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="number" asp-for="Year" class="form-control" id="floatingYear" placeholder="Year" required>
                    <label for="floatingYear">Year</label>
                </div>

                <div class="form-group">
                    <label asp-for="VehicleImage">Vehicle Image</label>
                    <input asp-for="VehicleImage" type="file" class="form-control">
                    <span asp-validation-for="VehicleImage" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary w-100 py-2 mt-3">Register</button>
            </form>

        </div>
    </div>
</div>
